#####################################################################################
# Development Environment
#####################################################################################

## Local SQLite database.
prisma/dev.db

## CDK output.
cdk.out/
