#####################################################################################
# Development Environment
#####################################################################################

## Local SQLite database.
prisma/dev.db
